@model IEnumerable<UrlShortener.Models.Url>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UrlId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateSaved)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UrlId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateSaved)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UrlId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UrlId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UrlId })
            </td>
        </tr>
    }

</table>
